ShoppingCenter/Service References/UserManage/UserManageService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ShoppingCenterWCF" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ShoppingCenterWCF" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:65139/UserManageService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/ShoppingCenterBOL" />
  <xs:complexType name="CommonResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="ErrorMessage" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Success" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CommonResult" nillable="true" type="tns:CommonResult" />
  <xs:complexType name="SignInResult">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:CommonResult">
        <xs:sequence>
          <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/ShoppingCenterBOL" minOccurs="0" name="User" nillable="true" type="q1:User" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="SignInResult" nillable="true" type="tns:SignInResult" />
</xs:schema>