ShoppingCenter/Service References/UserManage/UserManageService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="UserManageService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:65139/UserManageService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:65139/UserManageService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:65139/UserManageService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ShoppingCenterWCF" />
      <xsd:import schemaLocation="http://localhost:65139/UserManageService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/ShoppingCenterBOL" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IUserManageService_SignUp_InputMessage">
    <wsdl:part name="parameters" element="tns:SignUp" />
  </wsdl:message>
  <wsdl:message name="IUserManageService_SignUp_OutputMessage">
    <wsdl:part name="parameters" element="tns:SignUpResponse" />
  </wsdl:message>
  <wsdl:message name="IUserManageService_ActiveAccount_InputMessage">
    <wsdl:part name="parameters" element="tns:ActiveAccount" />
  </wsdl:message>
  <wsdl:message name="IUserManageService_ActiveAccount_OutputMessage">
    <wsdl:part name="parameters" element="tns:ActiveAccountResponse" />
  </wsdl:message>
  <wsdl:message name="IUserManageService_ChangePassword_InputMessage">
    <wsdl:part name="parameters" element="tns:ChangePassword" />
  </wsdl:message>
  <wsdl:message name="IUserManageService_ChangePassword_OutputMessage">
    <wsdl:part name="parameters" element="tns:ChangePasswordResponse" />
  </wsdl:message>
  <wsdl:message name="IUserManageService_ChangeUserName_InputMessage">
    <wsdl:part name="parameters" element="tns:ChangeUserName" />
  </wsdl:message>
  <wsdl:message name="IUserManageService_ChangeUserName_OutputMessage">
    <wsdl:part name="parameters" element="tns:ChangeUserNameResponse" />
  </wsdl:message>
  <wsdl:message name="IUserManageService_ChangeEmail_InputMessage">
    <wsdl:part name="parameters" element="tns:ChangeEmail" />
  </wsdl:message>
  <wsdl:message name="IUserManageService_ChangeEmail_OutputMessage">
    <wsdl:part name="parameters" element="tns:ChangeEmailResponse" />
  </wsdl:message>
  <wsdl:message name="IUserManageService_SignIn_InputMessage">
    <wsdl:part name="parameters" element="tns:SignIn" />
  </wsdl:message>
  <wsdl:message name="IUserManageService_SignIn_OutputMessage">
    <wsdl:part name="parameters" element="tns:SignInResponse" />
  </wsdl:message>
  <wsdl:message name="IUserManageService_ReSendConfirmationEmail_InputMessage">
    <wsdl:part name="parameters" element="tns:ReSendConfirmationEmail" />
  </wsdl:message>
  <wsdl:message name="IUserManageService_ReSendConfirmationEmail_OutputMessage">
    <wsdl:part name="parameters" element="tns:ReSendConfirmationEmailResponse" />
  </wsdl:message>
  <wsdl:portType name="IUserManageService">
    <wsdl:operation name="SignUp">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserManageService/SignUp" message="tns:IUserManageService_SignUp_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserManageService/SignUpResponse" message="tns:IUserManageService_SignUp_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ActiveAccount">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserManageService/ActiveAccount" message="tns:IUserManageService_ActiveAccount_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserManageService/ActiveAccountResponse" message="tns:IUserManageService_ActiveAccount_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ChangePassword">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserManageService/ChangePassword" message="tns:IUserManageService_ChangePassword_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserManageService/ChangePasswordResponse" message="tns:IUserManageService_ChangePassword_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ChangeUserName">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserManageService/ChangeUserName" message="tns:IUserManageService_ChangeUserName_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserManageService/ChangeUserNameResponse" message="tns:IUserManageService_ChangeUserName_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ChangeEmail">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserManageService/ChangeEmail" message="tns:IUserManageService_ChangeEmail_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserManageService/ChangeEmailResponse" message="tns:IUserManageService_ChangeEmail_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SignIn">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserManageService/SignIn" message="tns:IUserManageService_SignIn_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserManageService/SignInResponse" message="tns:IUserManageService_SignIn_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ReSendConfirmationEmail">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserManageService/ReSendConfirmationEmail" message="tns:IUserManageService_ReSendConfirmationEmail_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserManageService/ReSendConfirmationEmailResponse" message="tns:IUserManageService_ReSendConfirmationEmail_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IUserManageService" type="tns:IUserManageService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SignUp">
      <soap:operation soapAction="http://tempuri.org/IUserManageService/SignUp" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ActiveAccount">
      <soap:operation soapAction="http://tempuri.org/IUserManageService/ActiveAccount" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ChangePassword">
      <soap:operation soapAction="http://tempuri.org/IUserManageService/ChangePassword" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ChangeUserName">
      <soap:operation soapAction="http://tempuri.org/IUserManageService/ChangeUserName" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ChangeEmail">
      <soap:operation soapAction="http://tempuri.org/IUserManageService/ChangeEmail" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SignIn">
      <soap:operation soapAction="http://tempuri.org/IUserManageService/SignIn" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReSendConfirmationEmail">
      <soap:operation soapAction="http://tempuri.org/IUserManageService/ReSendConfirmationEmail" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="UserManageService">
    <wsdl:port name="BasicHttpBinding_IUserManageService" binding="tns:BasicHttpBinding_IUserManageService">
      <soap:address location="http://localhost:65139/UserManageService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>